html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    text-align: center;
    background-color: #fbfbfb;
    width: 100%;
    padding: 20px;
    border-bottom: #bdad93 4px solid;
}

header img {
    height: 200px;
}

footer {
    background-color: #fbfbfb;
    border-top: #bdad93 4px solid;
}


@media screen and (max-width: 480px) 
{
    header img {
        height: 150px;
    }
}