@page
@model IndexModel
@using Microsoft.Data.SqlClient
@using harryPotter.src.Classes

@{
    ViewData["Title"] = "Home page";
    SqlConnection db = DbConnection.DatabaseConnection();
    List<Character> allCharacters = new List<Character>() ;
    allCharacters = CharacterDisplay.getAllCharacters(db);
}

<html>

<head>
    <link href="http://fonts.cdnfonts.com/css/harry-potter" rel="stylesheet">
    <link href="~/css/index.css" type="text/css" rel="stylesheet" />
    <title>Harry Potter Characters</title>
</head>

<body>

    <div class="searchContainer">
        <form action="Search">
            <input type="search" class="searchBar" placeholder="Search the Harry Potter characters" name="search" />
            <button class="searchButton" type="submit">
                <img class="searchIcon" src="images/search.png" />
            </button>
        </form>
    </div>

    <section>
        @foreach(var character in allCharacters)
    {
        <article>
            <img src="images/@character.ImgUrl" alt="@character.Name" />
            <h5>@character.Name</h5>
            <a class='button' href='CharacterDetails?characterId=@character.Id'>More Details</a>
        </article>
    }
    </section>

</body>
</html>
